<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<script>
    window.appUrls = {
        tradingBots: "{{ path('trading-bots') }}"
    };
</script>
<div id="root"></div>

{{ encore_entry_script_tags('app') }}

{% block body %}{% endblock %}

<script src="{{ asset('build/runtime.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>

</body>
</html>
