<header id="cs-navigation">
    <div class="cs-container">
        <a href="" class="cs-logo" aria-label="back to home">
            <img src="{{ asset('images/day-care.svg') }}" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        <nav class="cs-nav" role="navigation">
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li"><a href="" class="cs-li-link cs-active">Home</a></li>
                    <li class="cs-li"><a href="" class="cs-li-link">About</a></li>
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link">Services
                            <img class="cs-drop-icon" src="{{ asset('images/down-gold.svg') }}" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li"><a href="" class="cs-li-link cs-drop-link">Registration</a></li>
                            <li class="cs-drop-li"><a href="" class="cs-li-link cs-drop-link">Our Classes</a></li>
                        </ul>
                    </li>
                    <li class="cs-li"><a href="" class="cs-li-link">Blog</a></li>
                    <li class="cs-li"><a href="" class="cs-li-link">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="cs-contact-group">
            <a href="tel:+84 1985 33 999" class="cs-phone">
                <img class="cs-phone-icon" src="{{ asset('images/phone-1a.svg') }}" alt="phone" width="24" height="24" aria-hidden="true" decoding="async">
                +84 1985 33 999
            </a>
            <div class="cs-social">
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="{{ asset('images/facebook-1a.svg') }}" alt="facebook" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="{{ asset('images/twitter-1a.svg') }}" alt="twitter" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="{{ asset('images/instagram1a.svg') }}" alt="instagram" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="{{ asset('images/youtube1a.svg') }}" alt="youtube" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
    </div>
</header>
